body{
    background-color: beige;
}

h1{
    text-align: center;
    font-size: 3.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#house-list{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: square;
}

h3{
    position: absolute;
    top: 150px;
    right: 300px;
    font-size: 18px;
}

#new-form-container{
    position: absolute;
    top: 200px;
    right: 200px;
    font-size: 18px;
}
